@media screen and (min-width: 375px) and (max-width:425px) and (orientation: portrait)  {

  .hover-text {
    z-index: 99;
  }

  .content {
    z-index: 98;
  }

  .page-name {
    font-size: 22px;
   }

  .box {
    display: block;
    width: 100%;
    height: 12%;
    overflow: hidden;
    position: relative;
  }


  #uno {
    height: 64%;
    bottom: 0;
    left: 0 !important;
    right: 0;
    top: 0;
    border: none;
    border-bottom: 3px solid $outline;
  }


  #dos {
    bottom: 0;
    left: 0 !important;
    right: 0;
    top: 0 !important;
    border: 0;
    border-bottom: 3px solid $outline;
  }



  #tres {
    bottom: 0;
    left: 0 !important;
    right: 0;
    top: 0 !important;
    border: none;
    border-bottom: 3px solid $outline;
  }


  #cuatro {
    bottom: 0;
    left: 0 !important;
    right: 0;
    top: 0 !important;
    border: none;
  }

  .box{
    height: 12%;
  }

  .active{
    height: 64%;
  }



  #music a {
    display: none;
  }

  #music iframe {
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
  }



  // tour

  #tour {
    height: 100%;
    width: 100%;
    padding: 2%;
  }

  .poster {
    display: none;
  }

  .tour-dates ul {
    text-align: center;
  }



// MERCH

  #merch {
    height: 100%;
    width: 100%;
    padding: 2%;
    flex-direction: column;
  }

  #merch .merch-photos {
    // border: 2px solid purple;
  }

  #merch .merch-photos a {
    margin: 0;
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-color: white;
  }

  #merch .merch-photos img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }

  #merch .merch-photos img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }

  #merch .merch-info {
    min-height: fit-content;
    min-width: fit-content;
    align-items: center;
  }

  #merch .merch-info h1 {
    font-size: 16px;
    margin: 11px 0;
  }

  #merch .merch-info h2 {
    display: none;
  }

  #merch .merch-info p {
    display: none;
  }

  #merch .merch-info a {
    margin: 0;
    font-size: 16px;
  }


// CONTACT

  #contact p {
      display: none;
    }

  #contact .email {
    display: none;
  }

  #contact .social {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  #contact .social a {
    display: inline-block;
    font-size: 35px;
    line-height: 70px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    text-align: center;
    color: $primaryColor;
    background-color: $outline;
  }

}
